/* Starting */

:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --gray-color: #888;
    --main-color: #f1f5f9;
}

/* Start flex + grid */
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.f-wrap{
    flex-wrap: wrap;
}
.f-column {
    flex-direction: column;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}
.jus-start {
    justify-content: start;
}
.jus-end {
    justify-content: end;
}
.jus-cnt {
    justify-content: center;
}
.al-cnt {
    align-items: center;
}
.al-start {
    align-items: start;
}
.al-end {
    align-items: end;
}
.txt-start {
    text-align: start;
}
.txt-end {
    text-align: end;
}
.txt-cnt {
    text-align: center;
}
.z-0 {
    z-index: 0;
}
.z-1 {
    z-index: 1;
}
.over-hidden {
    overflow: hidden;
}
.gap-5 {
    gap: 5px;
}
.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-25 {
    gap: 25px;
}
.main-bor {
    border: .5px solid #ccc;
}
.alt-bor {
    border: .5px solid #eee;
}
/* End flex + grid */

/* Start position */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
.top-0 {
    top: 0;
}
.right-0 {
    right: 0;
}
.bottom-0 {
    bottom: 0;
}
.left-0 {
    left: 0;
}
.ov-hidden {
    overflow: hidden;
}
.d-block {
    display: block;
}
.d-none {
    display: none;
}
.inline-block {
    display: inline-block;
}
/* End position */

/* Start txt */
.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-25 {
    font-size: 25px;
}
.fs-30 {
    font-size: 30px;
}
.fs-1em {
    font-size: 1em;
}
.fw-normal {
    font-weight: normal;
}
.fw-b {
    font-weight: bold;
}
.fw-extra{
    font-weight: 900;
}
/* End txt */

/* Start width + height */
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.w-fit {
    width: fit-content;
}
/* End width + height */

/* Start padding + margin */
.p-0 {
    padding: 0;
}
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.p-30 {
    padding: 30px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-30 {
    padding-top: 30px;
}
.pr-10 {
    padding-right: 10px;
}
.pr-20 {
    padding-right: 20px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pl-10 {
    padding-left: 10px;
}
.pl-20 {
    padding-left: 20px;
}
.m-auto {
    margin: auto;
}
.m-0 {
    margin: 0;
}
.m-10 {
    margin: 10px;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mr-auto {
    margin-right: auto;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-20 {
    margin-right: 20px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.ml-auto {
    margin-left: auto;
}
.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-15 {
    margin-left: 15px;
}
.ml-20 {
    margin-left: 20px;
}
/* End padding + margin */

/* Start color */
.bg-white {
    background-color: white;
}
.bg-main {
    background-color: var(--main-color);
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-blue-alt {
    background-color: var(--blue-alt-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-red {
    background-color: var(--red-color);
}
.bg-gray {
    background-color: var(--gray-color);
}
.c-black {
    color: black;
}
.c-white {
    color: white;
}
.c-blue {
    color: var(--blue-color);
}
.c-blue-alt {
    color: var(--blue-alt-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-green {
    color: var(--green-color);
}
.c-red {
    color: var(--red-color);
}
.c-gray {
    color: var(--gray-color);
}
.c-eee {
    color: #eee;
}

/* Start border */
.bor-main {
    border: 1px solid #ccc;
}
.bor-alt {
    border: 1px solid #eee;
}
.bor-black {
    border: 1px solid black;
}
.bor-none {
    border: none;
}
.bor-t {
    border-top: 1px solid #eee;
}
.bor-b {
    border-bottom: 1px solid #eee;
}
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.rad-half {
    border-radius: 50%;
}
.out-none {
    outline: none;
}
/* End border */

/* Start images */
/* End images */

/* Start components */
.centering {
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-shape {
    display: block;
    padding: 7px 12px;
    border-radius: 6px;
    width: fit-content;
}
/* Emd components */